/* src/app/css/nav.module.css */
.nav {
  position: relative;
  display: flex;
  z-index: 0;
  gap: 1.25rem;
  margin-left: 20px;
  margin-right: 20px;
  border: red;
  border-width: 10px;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 800;
  color: rgb(174, 101, 6);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 8px,
    rgba(0, 255, 255, 1) 10%,
    rgba(255, 0, 0, 1) 11%,
    rgba(155, 0, 0, 1) 13%,
    rgba(255, 0, 0, 1) 14%,
    rgba(0, 255, 255, 1) 15%,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0) 30%,
    rgba(0, 255, 255, 1) 35%,
    rgba(0, 255, 255, 1) 50%,
    rgba(0, 255, 255, 1) 65%,
    rgba(255, 255, 255, 0) 70%,
    rgba(255, 255, 255, 0) 80%,
    rgba(0, 255, 255, 1) 85%,
    rgba(255, 0, 0, 1) 86%,
    rgba(155, 0, 0, 1) 87%,
    rgba(255, 0, 0, 1) 89%,
    rgba(0, 255, 255, 1) 90%,
    rgba(255, 255, 255, 0) 92%
  );
}
/* a:hover {
  background-color: yellow;
  font-size: 18px;
} */
