@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2d138c;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  color: #fff;
  padding: 0;

  background: fixed linear-gradient(transparent, #070707 70%),
    fixed
      repeating-linear-gradient(
        #2b2b2b,
        #2b2b2b 1px,
        transparent 1px,
        transparent 40px
      ),
    fixed
      repeating-linear-gradient(
        to right,
        #2b2b2b,
        #2b2b2b 1px,
        transparent 1px,
        transparent 40px
      )
      #070707;
}

h3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
  gap: 1rem;
}
